@import url('https://fonts.googleapis.com/css2?family=Arima:wght@200&family=Reenie+Beanie&family=Stalemate&display=swap');
*{
    margin:0;
    padding: 0;
    border: none;
}
body{
    font-family: stalemate, sans-serif;
    font-weight: 400;
    color: #130014;
}
/* heading and logo */
h1{
    font-family: Reenie Beanie, sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #eac0d8;
    letter-spacing: 2px;
    color: #2b6a53;
}
#logo{
    float:left;
    font-size: 300%;
    margin-right:20px;
}
#logo-image{
    height: 48px;
}
#menu{
    text-transform: uppercase;
    font-family: Reenie Beanie, sans-serif;
    letter-spacing: 2px;
    float: right;
    margin-top: 24px;

}
#menu li{
    float: right;
    list-style-type: none;
    margin-right: 20px;
}
#menu a{
    text-decoration: none;
    color: #2b6a53;
}
#menu a:hover{
    border-bottom: 2px solid #2b6a53;
}

/*about me section*/ 
#crochet-background-about-me-section{
    height:600px;
    width: 100%;
    background-image: url('../images/background-aboutmesection.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
}
#mypicture{
    border-radius: 100%;
    width: 200px;
    object-fit: cover;
    object-position: 100% 0%;
    height: 200px;
    margin-top: 20px;
}